{{define "device.js.html"}}
<script>
var initialPlatform = 'ios';
if (location.hash === '#android') initialPlatform = 'android';
else if (location.hash === '#windows') initialPlatform = 'windows';

function showPlatform(platformId) {
    if (window.console) console.log('showPlatform('+platformId+')');
    var isInitial = !platformId;
    if (isInitial)
        platformId = initialPlatform;
    console.log(platformId);
    var d = document,
        iframe = d.getElementById('device-iframe'),
        m = location.href.match('&hash=(.+?)(?:&|$)'),
        src =  '/app/?ionicplatform=' + platformId + '#lang={{.lang}}';
    d.getElementById('device-selector-switch').className = platformId;
    d.getElementById('device').className = platformId;
    if (m)
        src += '&' + m[1];
    else if ('secretToken' in window && secretToken)
        src += "&secret=" + secretToken;
    if ('{{.vkApiId}}')
        src += '&vkApiId={{.vkApiId}}';
    iframe.src =  src;
    iframe.className = platformId;
    if (!isInitial) {
        ga('send', 'event', 'live-demo', 'platform-changed', platformId);
    }
}
</script>
{{end}}