<%!
import (
"github.com/sneat-co/debtstracker-go/gae_app/debtstracker/models"
)
%>

<%: func renderContactBalance(contactID int64, title string, balances balancesByCurrency, showTransfers bool, buf *bytes.Buffer) %>
<div class="col-sm">
    <h3><%= title %></h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Currency</th>
            <th class=d>User</th>
            <th class=d>Contacts</th>
            <% if showTransfers { %>
            <th class=d>Transfers</th>
            <% } %>
        </tr>
        </thead>
        <tbody>
        <% for currency, balance := range balances.byCurrency { %>
        <% if balance.user == balance.contacts { %>
        <tr><% } else { %>
        <tr class="table-danger"><% } %>
            <td><a href="transfers?contact=<%==i contactID %>&currency=<%=v currency %>"><%=v currency %></a></td>
            <td class=d><%==v balance.user %></td>
            <td class=d><%==v balance.contacts %></td>
            <% if showTransfers { %>
            <td class=d><%==v balance.transfers %></td>
            <% } %>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>