<html prefix="og: http://ogp.me/ns#">
<head>
<title>{{.Title}}</title>
<meta name="description" content="{{.Description}}">
<meta property="og:title" content="{{.Title}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{.ogUrl}}" />
<meta property="og:site_name" content="DebtsTracker.io" />
<meta property="og:image" content="https://{{.host}}/img/debtstracker-512x512.png" />
</head>
<body>
<h1>{{.Title}}</h1>
</body>
<script>if(document.location.hostname==='debtstracker.io') {
	setTimeout(function(){
		document.location.href = '/app/?receipt={{.ReceiptID}}'
	}, 1000);
}</script>
</html>